&__branding {

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    @media screen and (min-width: 1024px) { 
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 20%;
        margin-bottom: 28px;
        order: 1;
    }
}