@mixin base() {
    flex: 1 1 calc(100% - 120px);

    @media screen and (min-width: 1024px) { 
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 20%;
        margin-bottom: 28px;
        order: 1;
    }
}

&__branding {
    @include base;
}