&__content-selector-container {
    
    height: 60px;
    
    @media screen and (min-width: 1024px) { 
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        height: auto;
    }
}