    &__nav-wrapper {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;

        @media(min-width: 1024px) {

            flex-flow: row nowrap;
            order: 4;
            width: 100%;

            @include full-width-bg-color(#19557F, $outer-max-width);
        }
    }