&__primary-nav-container {

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    order: 2;

    @media screen and (min-width: 1024px) { 
        
        @include desktop-nav-container;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 70%;
        order: 4;
    }
}