<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/styles.min.css">
</head>
<body>


    <div class="deck"><!-- card deck -->
        <div class="deck__item">
            <article class="w-card-link"><!--Actual single card -->
            <h1 class="w-card-link__heading sr-only">Product Card Name for accessibility</h1>
                <a href="#" class="w-card-link__content">
                    <div class="w-card-link__icon"></div>
                    <h1 class="w-card-link__heading">Basic linked card setup with icon, heading and description</h1>
                    <div class="w-card-link__description">
                        We focus on the long-term in every facet of our business,
                    </div>
                </a>
            </article><!-- End actual card -->
        </div>
        <div class="deck__item">
            <article class="w-card-link"><!--Actual single card -->
            <h1 class="w-card-link__heading sr-only">Product Card Name for accessibility</h1>
                <a href="#" class="w-card-link__content">
                    <div class="w-card-link__icon"></div>
                    <h1 class="w-card-link__heading">Basic linked card setup with icon, heading and description</h1>
                    <div class="w-card-link__description">
                        We focus on the long-term in every facet of our business,
                    </div>
                </a>
            </article><!-- End actual card -->
        </div>
    </div><!-- End linked card container -->



</body>
</html>