<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/styles.min.css">
</head>
<body>


    <div class="deck"><!-- deck of cards -->
        <div class="deck__item"><!--card deck item -->	
            <!-- .card is a reserved name in bootstrap, so unless you want all BS styles on it, I made a new classname -->
            <article class="w-card" aria-label="cool item card"> <!--Actual single card -->
                <div class="w-card__graphic"></div>
                <div class="w-card__content">
                    <div class="w-card__icon"></div>
                    <h1 class="w-card__heading">Basic card setup with image outside of card content box</h1>
                    <div class="w-card__description">
                        We focus on the long-term in every facet of our business,
                    </div>
                    <ul class="w-card__actions">
                        <li class="w-card__action">
                            <a href="#" class="willow-button">Learn More</a>
                        </li>
                        <li class="w-card__action">
                            <a href="#" class="willow-button--primary">Sweet</a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="deck__item">   <!-- End actual card -->
            <article class="w-card" aria-label="cool item card"> <!--Actual single card -->
                <div class="w-card__graphic"></div>
                <div class="w-card__content">
                    <div class="w-card__icon"></div>
                    <h1 class="w-card__heading">Basic card setup with image outside of card content box</h1>
                    <div class="w-card__description">
                        We focus on the long-term in every facet of our business,
                    </div>
                    <ul class="w-card__actions">
                        <li class="w-card__action">
                            <a href="#" class="willow-button">Learn More</a>
                        </li>
                        <li class="w-card__action">
                            <a href="#" class="willow-button--primary">Sweet</a>
                        </li>
                    </ul>
                </div>
            </article><!-- End actual card -->
           
        </div><!-- End card deck -->
        <div class="deck__item">   <!-- End actual card -->
            <article class="w-card" aria-label="cool item card"> <!--Actual single card -->
                <div class="w-card__graphic"></div>
                <div class="w-card__content">
                    <div class="w-card__icon"></div>
                    <h1 class="w-card__heading">Basic card setup with image outside of card content box</h1>
                    <div class="w-card__description">
                        We focus on the long-term in every facet of our business,
                    </div>
                    <ul class="w-card__actions">
                        <li class="w-card__action">
                            <a href="#" class="willow-button">Learn More</a>
                        </li>
                        <li class="w-card__action">
                            <a href="#" class="willow-button--primary">Sweet</a>
                        </li>
                    </ul>
                </div>
            </article><!-- End actual card -->
           
        </div><!-- End card deck -->
    </div><!-- End bootstrap grid container -->


</body>
</html>