&__link {
    color: $theme-text-primary;

    &:visited {
        color: $component-footer-nav-link-color-visited;
    }
    
    &:hover {
        color: $component-footer-nav-link-color-hover;
    }
    
    &:active {
        color: $component-footer-nav-link-color-active;
    }
}