.willow-utility-nav {
    align-items: stretch;
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    width: 100%;

    @import "actions";
    @import "list";
    @import "item";
}