@mixin base() {
    

    &:last-of-type {
        text-align: center;
        margin-top: $container-padding;
    }
}

&__content {
     @include base;

     &--link {
         color: #198AAF;
         font-weight: 600;
     }
}