&__content {
     
    color: $content-color-two;
    font-size: $content-font-size;
    
    &:last-of-type {
        text-align: center;
        margin-top: $container-padding;
    }

     &--link {
         color: $theme-primary;
         font-weight: 600;
     }

     @media(min-width: 768px) {
         font-size: inherit;
     }
}