&__heading {
    margin-bottom: space(4);
}

&__header {
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;

    @media(min-width: 768px) {
        font-size: 2.8rem;
    }
}