@mixin base() {
    background-color: white;
    border-radius: $border-radius-amount;
    color: $content-color;
    display: block;
    padding: calc(#{$container-padding}/2);
    padding-right: space(3);
    position: relative;
    text-decoration: none;

    &:hover {
        color: #fff;
    }

    
    background-color: $item-background-color;

        &:after {

            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            border-left: 20px solid #DEDEDE;
            content: "";
            display: block;
            height: 0;
            position: absolute;
            right: -25px;
            top: calc(50% - 12px);
            width: 0;
        }

    }

&__link {
     @include base;


     &-header,
     &-content {
        color: inherit;
        transition: color .5s;
     }

     &-header {
        font-weight: 400;

         &--individual {
             color: #1F4B6A;
         }

         &--employer {
             color: #126259;
         }

         &--broker {
             color: #C05305;
         }

         .option-selector__link:hover & {
            color: white;
         }
     }

     &--individual {
        box-shadow: inset 0 0 0 0 #1F4B6A;
        transition: box-shadow 0.5s;
        border-right: 30px solid #1F4B6A;

            &:hover {
                box-shadow: inset -50.5em 0 0 0 #1F4B6A;
            }

  
        
     }

     &--employer {
        box-shadow: inset 0 0 0 0 #126259;
        transition: 0.5s;
        border-right: 30px solid #126259;

            &:hover {
                box-shadow: inset -50.5em 0 0 0 #126259;
            }
     }

     &--broker {
        box-shadow: inset 0 0 0 0 #C05305;
        transition: 0.5s;
        border-right: 30px solid #C05305;

            &:hover {
                box-shadow: inset -50.5em 0 0 0 #C05305;
            }
        }

     &-content {
         color: #4E4E4E;
         padding-bottom: 10px;

         .option-selector__link:hover & {
            color: white;
         }
     }
        
}