<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Option Selector Component</title>
    <link rel="stylesheet" href="styles/styles.min.css">
</head>
<body style="background-color: #aaa; padding: 50px;">

    <!-- 

    <div class="audience-selection">
        <h1 class="audience-selection__header"></h1>
        <p class="audience-selection__content"></p>
        <ul class="audience-selection__list">
            <li class="audience-selection__item">
                <a href="" class="audience-selection__link audience-selection__link--individual">
                    <h2 class="audience-selection__link-header"></h2>
                    <p class="audience-selection__link-content"></p>
                </a>
            </li>

        </ul>
        <p class="audience-selection__content"> <a href="#"> </a></p>
    </div>
    
    -->

    
    
    <div class="option-selector">
        <h1 class="option-selector__header">The benefits of good hard work.</h1>
        <p class="option-selector__content">We support America's workers. Benefits that protect and preserve the vitally important things.</p>
        <ul class="option-selector__list">
            <p class="option-selector__list--description">Select the category below that best fits you.</p>
            <li class="option-selector__item">
                <a href="" class="option-selector__link option-selector__link--individual">
                    <h2 class="option-selector__link-header option-selector__link-header--individual">Individual &amp; Policyholder</h2>
                    <p class="option-selector__link-content">Protect what you've worked for with our financial protection benefits and services.</p>
                </a>
            </li>
            <li class="option-selector__item">
                <a href="" class="option-selector__link option-selector__link--employer">
                    <h2 class="option-selector__link-header option-selector__link-header--employer">Employer &amp; Administrator</h2>
                    <p class="option-selector__link-content">Control benefit costs and hassle through money-saving strategies and one-stop enrollment services.</p>
                </a>
            </li>
            <li class="option-selector__item">
                <a href="" class="option-selector__link option-selector__link--broker">
                    <h2 class="option-selector__link-header option-selector__link-header--broker">Broker &amp; Consultants</h2>
                    <p class="option-selector__link-content">Grow your business and your client relationships with our professional, end-to-end services.</p>
                </a>
            </li>
        </ul>
        <p class="option-selector__content">Already a member? <a class="option-selector__content--link" href="#">Login to your account</a>.</p>
    </div>


</body>
</html>