<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RTE Styles</title>
    <link rel="stylesheet" href="../../style/WYSIWYGStyle.min.css">
</head>
<body>
    <div class="rte rte--colonial">
        <h1>Test 1</h1>
        <h2>Test 2</h2>
        <h3>Test 3</h3>
        <h4>Test 4</h4>
        <h5>Test 5</h5>
        <h6>Test 6</h6>
        <a href="#">Test Link</a>
        <p>Lorem ipsum, <b>bold</b> dolor sit amet consectetur adipisicing elit. Illo <a href="#">Link</a> incidunt at ut <strong>strong</strong> facilis ipsa quas <i>italic</i> nemo ex soluta rerum earum <em>emphasis</em> sed nisi, cumque molestiae nostrum accusantium totam nam.</p>
        <ul>
            <li>List Item 1</li>
            <li>List Item 2</li>
            <li>List Item 3</li>
            <li>List Item 4</li>
            <li>List Item 5</li>
        </ul>
    </div>

    <hr style="margin: 3em 0 2em">

    <div class="rte rte--unum">
        <h1>Test 1</h1>
        <h2>Test 2</h2>
        <h3>Test 3</h3>
        <h4>Test 4</h4>
        <h5>Test 5</h5>
        <h6>Test 6</h6>
        <a href="#">Test Link</a>
        <p>Lorem ipsum, <b>bold</b> dolor sit amet consectetur adipisicing elit. Illo <a href="#">Link</a> incidunt at ut <strong>strong</strong> facilis ipsa quas <i>italic</i> nemo ex soluta rerum earum <em>emphasis</em> sed nisi, cumque molestiae nostrum accusantium totam nam.</p>
        <ul>
            <li>List Item 1</li>
            <li>List Item 2</li>
            <li>List Item 3</li>
            <li>List Item 4</li>
            <li>List Item 5</li>
        </ul>
    </div>
    
</body>
</html>