&__action {
    font-size: inherit;
    color: $component-article-list-text-color;
    text-decoration: underline;

    @media screen and (min-width: map-get($grid-breakpoints, md)) {
        display: inline-block;
    }

    &:after {
        content: "--->";
        display: inline-block;
        width: 100px;
        height: 30px;
        margin-left: space(.25);
        margin-top: space(.25);
    }
}