<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/styles.min.css">
</head>
<body>

    <div class="deck resource-list">
        <div class="deck__items resource-list__items">

            <article class="resource-list__item">
                <a href="#" class="resource-list__link">
                    <h1 class="resource-list__subheading">Gain every advantage</h1>               
                    <div class="resource-list__description">
                        <p>When it comes to choosing a voluntary benefits partner, 
                            you need one who cares as much about your success as you do.  
                        </p>
                    </div>
                    <p><span class="resource-list__action" href="">Read More</span></p>
                </a>                        
            </article>

            <article class="resource-list__item">
                <a href="#" class="resource-list__link">
                    <h1 class="resource-list__subheading">Gain every advantage</h1>               
                    <div class="resource-list__description">
                        <p>When it comes to choosing a voluntary benefits partner, 
                            you need one who cares as much about your success as you do.  
                        </p>
                    </div>
                    <p><span class="resource-list__action" href="">Read More</span></p>
                </a>                        
            </article>                

            <article class="resource-list__item">
                <a href="#" class="resource-list__link">
                    <h1 class="resource-list__subheading">Gain every advantage</h1>               
                    <div class="resource-list__description">
                        <p>When it comes to choosing a voluntary benefits partner, 
                            you need one who cares as much about your success as you do.  
                        </p>
                    </div>
                    <p><span class="resource-list__action" href="">Read More</span></p>
                </a>                        
            </article>                  

            <article class="resource-list__item">
                <a href="#" class="resource-list__link">
                    <h1 class="resource-list__subheading">Gain every advantage</h1>               
                    <div class="resource-list__description">
                        <p>When it comes to choosing a voluntary benefits partner, 
                            you need one who cares as much about your success as you do.  
                        </p>
                    </div>
                    <p><span class="resource-list__action" href="">Read More</span></p>
                </a>                        
            </article>

        </div>
    </div>                 
</body>
</html>