@mixin base() {
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    text-decoration: none;

    &:hover {
        background-color: #ECE9E0;
        transition: background-color .3s;
    }
}  

&__content {
    @include base;
}