@mixin base() {
    margin-bottom: space(2);
    justify-content: center;

    @media screen and (min-width: breakpoint(small)) {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
    }
}

&-deck {
    @include base;
}