<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pagination</title>
    <link rel="stylesheet" href="../../style/styles.min.css">
</head>
<body>
    
    <nav class="pagination-nav" role="navigation" aria-label="Pagination">
        <h1 class="pagination-nav__heading sr-only">Collection Pagination</h1>
        <ul class="pagination-nav__list">
            <li class="pagination-nav__item"><a class="pagination-nav__link pagination-nav__link--prev" href="" aria-label="Go to previous page">< Prev</a></li>
            <li class="pagination-nav__item"><a class="pagination-nav__link" href="" aria-label="Go to page #">1</a></li>
            <li class="pagination-nav__item"><span class="pagination-nav__content" href="" aria-label="Go to page #">...</span></li>
            <li class="pagination-nav__item"><a class="pagination-nav__link" href="" aria-label="Go to page #">5</a></li>
            <li class="pagination-nav__item"><a class="pagination-nav__link" href="" aria-label="Go to page #" aria-current="true">6</a></li>
            <li class="pagination-nav__item"><a class="pagination-nav__link" href="" aria-label="Go to page #">7</a></li>
            <li class="pagination-nav__item"><span class="pagination-nav__content" href="" aria-label="Go to page #">...</span></li>
            <li class="pagination-nav__item"><a class="pagination-nav__link pagination-nav__link--next" href="" aria-label="Go to next page">Next ></a></li>
        </ul>
    </nav>

    <script src="pagination-nav.js"></script>
</body>
</html>