.willow-footer-nav {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid $component-page-footer-border-color;
    padding-bottom: space(2);

    @media (min-width: 768px) {
        flex-flow: row nowrap;
    }

    @import "section";
    @import "item";
    @import "link";
    @import "subheading";
}