&__link {
    color: $theme-text-primary;
    text-decoration: none;
    &:visited {
        color: $theme-text-primary;
    }
    
    &:hover {
        color: $theme-text-primary;
        text-decoration: underline;
    }
    
    &:active {
        color: $theme-text-primary;
    }
}