&__item {
    @include set-text-style($text-style-content-2);

    @media screen and(min-width: breakpoint(small)) {
        color: $component-ancillary-nav-link-text;
        flex: 1 1 auto;
        justify-content: space-between;
        margin: 0;

        & + & {
            margin-left: space(1);
            &:before {
                content: "|";
                margin-right: space(1);
            }
        }
    }
}