<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/styles.min.css">
</head>
<body>

    
            <nav class="willow-ancillary-nav">
                <h1 class="willow-ancillary-nav__heading sr-only">Footer Ancillary Nav</h1>
                <ul class="willow-ancillary-nav__list">
                    <li class="willow-ancillary-nav__item">
                        <a href="#" class="willow-ancillary-nav__link">Legal</a>
                    </li>
                    <li class="willow-ancillary-nav__item">
                        <a href="#" class="willow-ancillary-nav__link">Privacy</a>
                    </li>
                    <li class="willow-ancillary-nav__item">
                        <a href="#" class="willow-ancillary-nav__link">Accessibility</a>
                    </li>
                </ul>
                <ul class="willow-ancillary-nav__actions">
                    <li class="willow-ancillary-nav__action">
                        <a href="#" class="willow-button--primary">Legal</a>
                    </li>
                </ul>
            </nav>


</body>
</html>