<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/styles.min.css">
</head>
<body>


            <a class="willow-logo-link" href="/" aria-label="go to home page">
                <img class="willow-logo-link__image" src="http://www.coloniallife.com/-/media/Colonial/Public%20Site/Images/Logos/logo.png?h=48&la=en&w=238&hash=77CE767A55F8F04830E8D88317CA560BA216641E" alt="Colonial Life Home page">
            </a>

            
</body>
</html>