<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CL Header</title>
    <link rel="stylesheet" href="styles/styles.min.css">
</head>
<body>
    
    
    <header class="page-header" role="banner">
        <div class="page-header__mobile-controls">
            <div class="page-header__branding"><!-- insert Logo-Link Component Here --> LOGO</div>
            <div class="page-header__login"><!--  Insert login component here --> Mobile Login</div>
            <a class="page-header__menu" data-is-open="false" aria-label="Open Menu" href="">menu</a>
            <a class="page-header__menu" data-is-open="true" aria-label="Close Menu"href="">close</a>
        </div>
        <div class="page-header__content">
            <div class="page-header__branding"><!-- insert Logo-Link Component Here --> LOGO</div>
            <div class="page-header__content-selector-container">
                <!-- insert content selection component here -->
                Content/Audience Selector Container
            </div>
            <div class="page-header__ansilary-nav-container">
                <!-- insert ansilary/utility component here -->
                Ansilary/Utility Selector Container
            </div>
            <div class="page-header__primary-nav-container">
                <!-- insert primary nav component here -->
                Primary Nav
            </div>
            <div class="page-header__search-container">
                <!-- insert Search component here -->
                Search container
            </div>
        </div>
    </header>



</body>
</html>