&__action {
    font-size: inherit;
    margin-left: space(2);

    &:first-of-type {
        margin-left: 0;
    }

    @media screen and (min-width: map-get($grid-breakpoints, md)) {
        display: inline-block;
    }
}