<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="../../style/styles.min.css">
</head>
<body>
        <!--

        <section class="feature">
            <div class="feature__content-container">
                <div class="feature__glass-container">
                    <h1 class="feature__heading"></h1>
                    <h2 class="feature__sub-heading"></h2>
                    <div class="feature__content">
                        
                        Add feature content here.

                    </div>
                    <ul class="feature__actions">
                        <li class="feature__action">
                            
                            Add CTA element here.

                        </li>
                    </ul>
                </div>
            </div>
            <div class="feature__image"></div>
        </section>

        -->

        <section class="feature">
            <div class="feature__content-container">
                <div class="feature__glass-container">
                    <h1 class="feature__heading">Hello World!</h1>
                    <h2 class="feature__sub-heading">Sub heading</h2>
                    <div class="feature__content">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem dolores repellendus, quas perspiciatis voluptates. Harum veniam sit eligendi ut nesciunt, repellendus odit sapiente debitis rem, vel ad iste maxime voluptates.</span>
                        <span>Aspernatur sequi modi cum quidem adipisci non, similique explicabo iusto nemo ab itaque sit unde, minima, voluptate, nobis porro voluptatibus rerum! Voluptate dicta labore porro laborum velit, earum, quis quisquam.</span>
                    </div>
                    <ul class="feature__actions">
                        <li class="feature__action">
                            <button class="willow-button--primary">call to action</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="feature__image" style="background-image: url(http://fillmurray.com/400/400)"></div>
        </section>

        <section class="feature feature--flip">
            <div class="feature__content-container">
                <div class="feature__glass-container">
                    <h1 class="feature__heading">Hello World!</h1>
                    <h2 class="feature__sub-heading"></h2>
                    <div class="feature__content">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem dolores repellendus, quas perspiciatis voluptates. Harum veniam sit eligendi ut nesciunt, repellendus odit sapiente debitis rem, vel ad iste maxime voluptates.</span>
                        <span>Aspernatur sequi modi cum quidem adipisci non, similique explicabo iusto nemo ab itaque sit unde, minima, voluptate, nobis porro voluptatibus rerum! Voluptate dicta labore porro laborum velit, earum, quis quisquam.</span>
                    </div>
                    <ul class="feature__actions">
                        <li class="feature__action">
                            <button class="willow-button--primary">call to action</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="feature__image" style="background-image: url(http://stevensegallery.com/400/400)"></div>
        </section>

</body>
</html>