<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/styles.min.css">

</head>
<body>
    <div class="container">
        <section class="feature">
            <div class="feature__image" style="background-image: url(https://static.pexels.com/photos/30342/pexels-photo-30342.jpg)"></div>
            <!--<div class="feature__video-container">
                <video class="feature__video" autoplay src="https://static1.squarespace.com/static/ta/557f0c14e4b085fc53dfd311/947/assets/ux-video.webm"></video>
            </div>-->
            <div class="feature__content-section">
                <div class="feature__content">
                    <h1 class="feature__heading">What can we do for you?</h1>
                    <h2 class="feature__sub-heading">Peace of mind when you need it most.</h2>
                    <p>At Colonial Life, we help you protect all that you’ve worked to build. During challenging times, our voluntary benefits can help provide financial security.</p>
                </div>
            </div>            
        </section>

        <section class="feature feature--flip">
            <div class="feature__image" style="background-image: url(https://static.pexels.com/photos/119699/pexels-photo-119699.jpeg)"></div>
            <div class="feature__content-section">
                <div class="feature__content">
                    <h1 class="feature__heading">Partner with Colonial Life</h1>
                    <h2 class="feature__sub-heading">Gain every advantage</h2>
                    <p>When it comes to choosing a voluntary benefits partner, you need one who cares as much about your success as you do. A company that knows voluntary benefits and has a proven track record. A company that’s dedicated to long-term relationships with brokers. One that invests considerable resources to give you nearly everything you need – all from one source. </p>
                    <ul class="feature__actions">
                        <li class="feature__action">
                            <button class="willow-button--primary">Partner with Colonial Life</button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="feature">
            <div class="feature__image" style="background-image: url(https://static.pexels.com/photos/39691/family-pier-man-woman-39691.jpeg)"></div>
            <div class="feature__content-section">
                <div class="feature__content">
                    <h1 class="feature__heading">Partner with Colonial Life</h1>
                    <h2 class="feature__sub-heading">Gain every advantage</h2>
                    <p>When it comes to choosing a voluntary benefits partner, you need one who cares as much about your success as you do. A company that knows voluntary benefits and has a proven track record. A company that’s dedicated to long-term relationships with brokers. One that invests considerable resources to give you nearly everything you need – all from one source. </p>

                    <ul class="feature__actions">
                        <li class="feature__action">
                            <button class="willow-button--primary">Partner with Colonial Life</button>
                        </li>
                        <li class="feature__action">
                            <button class="willow-button--primary">Or Do This</button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="feature feature--flip">
            <div class="feature__image" style="background-image: url(http://fillmurray.com/400/480)"></div>
            <div class="feature__content-section">
                <div class="feature__content">
                    <h1 class="feature__heading">Partner with Colonial Life</h1>
                    <h2 class="feature__sub-heading">Gain every advantage</h2>
                    <p>When it comes to choosing a voluntary benefits partner, you need one who cares as much about your success as you do. A company that knows voluntary benefits and has a proven track record. A company that’s dedicated to long-term relationships with brokers. One that invests considerable resources to give you nearly everything you need – all from one source. </p>
                    <ul class="feature__actions">
                        <li class="feature__action">
                            <a href="">Partner with Colonial Life</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="feature">
            <div class="feature__image" style="background-image: url(http://stevensegallery.com/400/480)"></div>            
            <div class="feature__content-section">
                <div class="feature__content">
                    <h1 class="feature__heading">Partner with Colonial Life</h1>
                    <h2 class="feature__sub-heading">Gain every advantage</h2>
                    <p>When it comes to choosing a voluntary benefits partner, you need one who cares as much about your success as you do. A company that knows voluntary benefits and has a proven track record. A company that’s dedicated to long-term relationships with brokers. One that invests considerable resources to give you nearly everything you need – all from one source. </p>
                    <ul class="feature__actions">
                        <li class="feature__action">
                            <a href="">Partner with Colonial Life</a>
                        </li>
                        <li class="feature__action">
                            <a href="">Another Link of Somesort</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="feature feature--flip">
            <div class="feature__image" style="background-image: url(https://static.pexels.com/photos/162971/potatoes-french-mourning-funny-162971.jpeg)"></div>
            <div class="feature__content-section">
                <div class="feature__content">
                    <h1 class="feature__heading">Partner with Colonial Life</h1>
                    <h2 class="feature__sub-heading">Gain every advantage</h2>
                    <p>When it comes to choosing a voluntary benefits partner, you need one who cares as much about your success as you do. A company that knows voluntary benefits and has a proven track record. A company that’s dedicated to long-term relationships with brokers. One that invests considerable resources to give you nearly everything you need – all from one source. </p>
                    <a href="">A Link not in the Actions Area</a>
                </div>
            </div>
        </section>
    </div>
</body>
</html>