.willow-page-footer {
    background-color: #fff;
    padding: 2rem calc((100% - 1200px)/ 2);
    margin: 0 auto;

    @import "actions";
    @import "action";
    @import "branding";
    @import "content";
    @import "copy";
    @import "description";
    @import "legal";
}