<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/styles.min.css">
</head>
<body>


    <footer class="willow-page-footer" role="contentinfo">
        <div class="willow-page-footer__content">
            <nav class="willow-footer-nav" role="navigation" aria-label="footer">
                <h1 class="willow-footer-nav__heading sr-only">Site Footer Menu</h1>
                    <div class="willow-footer-nav__section">                
                        <ul class="willow-footer-nav__list">
                            <h2 class="willow-footer-nav__subheading">Our Company</h2>
                            <li class="willow-footer-nav__item"><a class="willow-footer-nav__link" href="" aria-label="">Menu Item 1</a></li>
                            <li class="willow-footer-nav__item"><a class="willow-footer-nav__link" href="" aria-label="">Menu Item 2</a></li>
                            <li class="willow-footer-nav__item"><a class="willow-footer-nav__link" href="" aria-label="">Menu Item 2</a></li>
                        </ul>
                    </div>
                    <div class="willow-footer-nav__section">  
                        <ul class="willow-footer-nav__list">
                            <h2 class="willow-footer-nav__subheading">Connect with Us</h2>
                            <li class="willow-footer-nav__item"><a class="willow-footer-nav__link" href="" aria-label="">Menu Item 1</a></li>
                            <li class="willow-footer-nav__item"><a class="willow-footer-nav__link" href="" aria-label="">Menu Item 2</a></li>
                            <li class="willow-footer-nav__item"><a class="willow-footer-nav__link" href="" aria-label="">Menu Item 2</a></li>
                        </ul>                        
                    </div> 
                    <div class="willow-footer-nav__section">  
                        <ul class="willow-footer-nav__list">
                            <h2 class="willow-footer-nav__subheading">Solutions for</h2>
                            <li class="willow-footer-nav__item"><a class="willow-footer-nav__link" href="" aria-label="">Menu Item 1</a></li>
                            <li class="willow-footer-nav__item"><a class="willow-footer-nav__link" href="" aria-label="">Menu Item 2</a></li>
                            <li class="willow-footer-nav__item"><a class="willow-footer-nav__link" href="" aria-label="">Menu Item 2</a></li>
                        </ul>                        
                    </div>
                    <div class="willow-footer-nav__section">  
                        <ul class="willow-footer-nav__list">
                            <h2 class="willow-footer-nav__subheading">Social</h2>
                            <li class="willow-footer-nav__item"><a class="willow-footer-nav__link" href="" aria-label="">Menu Item 1</a></li>
                            <li class="willow-footer-nav__item"><a class="willow-footer-nav__link" href="" aria-label="">Menu Item 2</a></li>
                            <li class="willow-footer-nav__item"><a class="willow-footer-nav__link" href="" aria-label="">Menu Item 2</a></li>
                        </ul>
                    </div>

            </nav>
        </div>

        <div class="willow-page-footer__branding">
            <a class="willow-logo-link" href="/" aria-label="go to home page">
                <img class="willow-logo-link__image" src="http://brand.unumux.com/coloniallife/images/logo-steel-blue.svg" alt="Colonial Life Home page">
            </a>
        </div>

        <div class="willow-page-footer__description">
            <small class="willow-page-footer__copy">
                    <!-- this would be pulled from a global copyright field -->
                    &copy; 2017 Colonial Life &amp; Accident Insurance Company Colonial Life &amp; Accident Insurance Company is a subsidiary of Unum Group. NS-15375
            </small>
            <div class="willow-page-footer__legal"><!-- this would be pulled from a global legal content field -->
                <p>
                    Colonial Life products are underwritten by Colonial Life &amp; 
                    Accident Insurance Company. Coverage has exclusions and limitations that may affect benefits payable. 
                    Coverage may vary by state and may not be available in all states. 
                    See your representative for complete details. Colonial Life is the marketing brand of 
                    Colonial Life &amp; Accident Insurance Company.
                </p>
            </div>
        </div>
        <nav class="willow-utility-nav">
            <ul class="willow-utility-nav__list">
                <li class="willow-utility-nav__item">
                    <a href="#" class="willow-utility-nav__link">Legal</a>
                </li>
                <li class="willow-utility-nav__item">
                    <a href="#" class="willow-utility-nav__link">Privacy</a>
                </li>
                <li class="willow-utility-nav__item">
                    <a href="#" class="willow-utility-nav__link">Accessibility</a>
                </li>
            </ul>
            <ul class="willow-utility-nav__actions">
                <li class="willow-utility-nav__action">
                    <a href="#" class="willow-button--primary">Legal</a>
                </li>
            </ul>
        </nav>
    </footer>


</body>
</html>