@mixin base() {
    
    background-color: $item-background-color;
    border-radius: $border-radius-amount;
    color: $content-color;
    display: block;
    padding: calc(#{$container-padding}/2);
    padding-right: space(3);
    position: relative;
    text-decoration: none;

    &:hover {
        color: #fff;
    }

    &:after {

        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 20px solid #DEDEDE;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        right: -25px;
        top: calc(50% - 12px);
        width: 0;
    }

}

&__link {
     @include base;

     &-header,
     &-description {
         color: inherit;
     }

     &-header {
        font-weight: 400;

         &--individual {
             color: #19557F;
         }

         &--employer {
             color: #1A8573;
         }

         &--broker {
             color: #E89528;
         }

         .option-selector__link:hover & {
            color: white;
         }
     }

     &--individual {
         border-right: 30px solid #19557F;

        &:hover {
            background-color: #19557F;
        }
     }

     &--employer {
         border-right: 30px solid #1A8573;

        &:hover {
            background-color: #1A8573;
        }
     }

     &--broker {
         border-right: 30px solid #E89528;

        &:hover {
            background-color: #E89528;
        }
     }

     &-content {
         color: #4E4E4E;
         padding-bottom: 10px;

         .option-selector__link:hover & {
            color: white;
         }
     }

     &:hover {
         transition: all .75s ease;
     }

        
}