@mixin base() {
    list-style: none;
    padding: 0;
    margin: 0;
}

&__list {
     @include base;

     &--description {
         @include base;
         color: #929292;
         margin-bottom: 10px;
         margin-top: 2rem;
     }
}