$border-radius-amount: 5px;

$content-color: #333;

$container-padding: space(2);

$item-content-color: #fff;
$item-background-color: #F1F1F1;

$max-container-width: 500px;



@mixin base() {

    background-color: #fff;
    border-radius: $border-radius-amount;
    color: $content-color;
    max-width: $max-container-width;
    padding: $container-padding;
    text-align: left;
}

.option-selector {
    @include base;
    @import "content";
    @import "header";
    @import "list";
    @import "item";
    @import "link";
    @import "description";
}