<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/styles.min.css">
</head>
<body>
    
    
        <section class="banner" role="region">
            <h1 class="banner__heading">Derp</h1>
            <div class="banner__content">
                <p>Quickly file a claim or manage your account by logging in to our secure website. Not registered?</p>
            </div>
            <ul class="banner__actions">
                <li class="banner__action">
                    <button class="willow-button">CTA</button>
                </li>
            </ul>
        </section>


        <section class="banner banner--slim" role="region">
            <h1 class="banner__heading">Derp</h1>
            <div class="banner__content">
                <p>Quickly file a claim or manage your account by logging in to our secure website. Not registered?</p>
            </div>
            <ul class="banner__actions">
                <li class="banner__action">
                    <button class="willow-button">CTA</button>
                </li>
            </ul>
        </section>



</body>
</html>