@mixin base() {
    margin-bottom: space(1);
    margin-right: space(1);
    
    &:last-of-type {
        margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
        display: inline-block;
    }
}

&__action {
     @include base;
}