@mixin base() {

    align-self: stretch;
    display: flex;
    flex: 1 1 50%;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    order: 1;

    @media screen and (min-width: 768px) {
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media screen and (min-width: 1025px) {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: space(4.5);
        padding-right: 0;
        max-width: 50%;
    }
}

&__content-container {
     @include base;
}