@mixin base() {

    justify-content: flex-end;
    padding-left: 0;

    #{$block}__image {
        order:1;
    }

    #{$block}__content-container {

        justify-content: flex-start;
        order: 2;
        padding-left: 0;
        padding-right: space(4.5);


    }

    #{$block}__glass-container {
        box-shadow: 5px 8px 12px 0 rgba(74, 74, 74, 0.15);
        margin-left: space(-1.5);

        &:after {
            left: inherit;
            right: space(-3);
        }
    } 
}

&--flip {
     @include base;
}