@mixin base() {
        
    align-self: center;
    background-color: $glass-container-background-color;
    border-radius: $component-border-radius;
    box-shadow: -5px 8px 12px 0 rgba(74, 74, 74, 0.15);
    display: block;
    
    
    padding-top: space(2);
    padding-bottom: space(2);
    padding-left: space(3);
    padding-right: space(3);
    position: relative;

    @media screen and (min-width: 768px) {
        margin-top: -85px;
    }

    @media screen and (min-width: 1025px) {
        margin-top: inherit;
        margin-right: space(-1.5);
        max-width: $glass-container-max-width;
        width: 100%;

        &:after {
            background-color: $shadow-box-bg-color;
            border: 4px solid $glass-container-background-color;
            content: "";
            display: block;
            position: absolute;
            width: $glass-container-after-width-percent;
            z-index: -1;
            
            bottom: space(-2);
            left: space(-3);
            top: space(-2);
        }
    }
}

&__glass-container {
     @include base;
}