@mixin base() {}

&__heading {
    @include base();
    color: $theme-primary;
    font-family: "Oswald", sans-serif;
    font-size: $heading-font-size;
    font-weight: normal;
    line-height: $heading-line-height;
    margin-bottom: 5px;

    @media screen and (min-width: 768px) {
       font-size: 48px;
       line-height: 55px;
    }
}

&__sub-heading {

    color: $theme-primary;
    font-family: "Open Sans", sans-serif;
    font-size: $sub-heading-font-size;
    font-weight: bold;
    line-height: $sub-heading-line-height;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        font-size: 17px;
        line-height: 23px;
    }
}