$component-fa-text-color: $color-neutral-darker;

.fa {
    margin: 0 auto;
    max-width: 1200px;
    padding: space(1);

    @import "content";
    @import "description";
    @import "heading";   
    @import "icon";
}

@import "address";