<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/styles.min.css">
</head>
<body>
    
    
    <!-- come up with real name for this module, fa is placeholder -->
    <section class="fa">
        <div class="fa__icon"></div>        
        <h1 class="fa__heading">Find an Agent</h1>
        <div class="fa__description">Enter your zip code to find a Colonial Life Representative near you.</div>
        <div class="fa__content">
            
            <form class="w-form" action="submit">
                <div class="w-form__input-group">
                    <label class="w-form__label sr-only" for="find-an-agent-zip" aria-required="true">Zip Code</label>
                    <input class="w-form__input" type="text" name="zip code" id="find-an-agent-zip" placeholder="Enter your Zip Code" required />
                    <p class=" w-form__help">Please provide a valid zip code</p>
                </div>
                <ul class="w-form__actions">
                    <li>
                        <input class="w-form__action willow-button" type="submit" value="Find an agent" />
                    </li>
                </ul> 
            </form>

            <address class="w-address">
                <p class="w-address__heading">Territory Sales Office</p>
                <ul class="w-address__content">
                    <li class="w-address__location">558 Wintheiser Meadows Suite 076</p></li>
                    <li class="w-address__location">Lake Malinda, SC 32029</p></li>
                    <li class="w-address__phone">002-400-7658</p></li>
                    <li>
                        <a class="w-address__email" href="#" title="Email the office">FrankOffice.Ferez@coloniallife.com</a> 
                    </li>
                </ul>
            </address>
        </div>
    </section>


</body>
</html>